@media (max-width: 800px) {

  .profile-header {
    position: relative;
    top: auto;

    padding: 30px 0;
  }


  .profile-header-content {
    display: flex;

    flex-direction: column-reverse;

    gap: 18px;
  }


  .profile-info {
    align-items: center;

    text-align: center;
  }


  .profile-photo {
    width: 125px;
    height: 125px;

    justify-self: auto;
  }


  .profile-info h1 {
    font-size: 2.15rem;
  }


  .profile-focus {
    font-size: 0.90rem;
  }


  .profile-university {
    font-size: 0.82rem;

    margin-bottom: 14px;
  }


  .hero-buttons {
    justify-content: center;
  }

}
